<%= render 'shared/navbar' %>
  <div class="text-center">
  <div class="d-flex justify-content-center h-100">
<h2>Editando dados</h2>
 <img alt="UFSCompra" class="rounded mx-auto d-block" style="width:300px" src="<%= asset_path 'ufscompra.png' %>">
<%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>


  <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
    <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
  <% end %>

    <div class="field">
    <%= f.label :Foto_do_usuario %>
    <%= f.file_field :image %>
    </div>

  <div class="field">
    <%= f.label :Senha %> <i>(Deixe em branco caso não queira alterar)</i><br />
    <%= f.password_field :password, autocomplete: "new-password" %>
    <% if @minimum_password_length %>
      <br />
      <em><%= @minimum_password_length %> caracteres minimo</em>
    <% end %>
  </div>

  <div class="field">
    <%= f.label :Confirm_a_sua_senha %><br />
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :Senha_atual %> <i>(Você precisa da sua senha atual para confirma a alteração)</i><br />
    <%= f.password_field :current_password, autocomplete: "current-password" %>
  </div>

  <div class="actions">
    <%= f.submit "Modificar" %></div>
<% end %>

<h3>Cancelar a minha conta</h3>

<p>Insatisfeito? <%= button_to "Cancelar a minha conta", registration_path(resource_name), data: { confirm: "Are you sure?" }, method: :delete %></p>

<%= link_to "Retornar", :back %>
  </div>
</div>

<%= render 'shared/footer' %>