<%= form_with(model: post, local: true) do |form| %>
  <% if post.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
      <% post.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :Titulo_do_Anúncio %>
    <%= form.text_field :titulo %>
  </div>
  <div class="field">
  <%= form.label :Categoria%>
  <%= form.select(:categoria, options_for_select(["Comida","Roupa","Convite","Outro"]))%>
  </div>

  <div class="field">
    <%= form.label :Preço %>
    <%= form.text_field :preco%>
  </div>

 <div class="field">
    <%= form.label :Imagem %>
    <%= form.file_field :image %>
  </div>

  <div class="field">
    <%= form.label :Conteúdo %>
    <%= form.text_area :conteudo %>
  </div>

  <div class="field">
    <%= form.label :Telefone %>
    <%= form.telephone_field :contato, placeholder: '(xx)-xxxxxxx' %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
