
<%=render 'shared/navbar'%>
<div class='container text-center'>
<h1>Anúncios</h1>
<p id="notice"><%= notice %></p>
<button class="btn btn-info"><%= link_to 'Novo anúncio', new_post_path %></button>
<table class ="table table-hover table-bordered">
  <thead>
    <tr>
      <th class="text-center">Titulo</th>
      <th class="text-center">Autor</th>
      <th class="text-center">Opções </th>
    </tr>
  </thead>

  <tbody>
    <% @posts.each do |post| %>
      <tr>
        <td><%= post.titulo %></td>
        <td><b><%= post.user.nome %> <%= post.user.sobrenome%></b></td>
        <td><%= link_to 'Mostrar', post %>
        <% if post.user == current_user %>
          <%= link_to 'Editar', edit_post_path(post) %>
          <%= link_to 'Excluir', post, method: :delete, data: { confirm: 'Você tem certeza?' } %>
        <% end %></td>
      </tr>
    <% end %>
  </tbody>
</table>
<br>

</div>
<%=render 'shared/footer'%>